nav{
    height: 100px!important;
    width: 100%!important;
    background-color: #83C5BE !important;
  
}
.offcanvas div{
    background-color: #006D77;

}
.offcanvas div ul li a{
    color: #FFF;

}


